<html>
  <body>
   <div class="classes">
     <h1>Spring 2020 Schedule</h1>
     <p>These are the classes that I took in the spring of 2020:"</p>
     <p>APMAE2000 - Multivariable Calculus</p>
     <p>ENGIE1006 - Intro to Comp for Eng/App Sci(Python)</p>
     <p>ENGIE102 - The Art of Engineering</p>
     <p>PHYSUN1494 - Physics Lab</p>
     <p>PHEDUN1002 - Physical Education(Judo)</p>
     <p>PHYSUN1402 - Intro Elec/Magnetsm & Optics(Physics II)</p>
     <p>My favorite course from this semester was The Art of Engineering because I was exposed to many different fields and applications of engineering. Additionally, I enjoyed collaborating with my group to design a game, despite not being able to make it because of the circumstances we are currently in. The class was overall entertaining, and I learned a lot of interesting things about engineering as a whole.</p>
   </div>
  </body>
</html>