<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Hello World! My name is Emily Milian!</p>
    <p>I am currently a first year, and I plan on studying mechanical engineering!</p>
    <p>In this class, my grade is currently 94%</p>
    <img src="/static/BAND_PHOTO.png" alt="This is me!">
    <a href="/assignments">Visit my assignments from Engie1006!</a>
    <a href="/classes">Visit my Spring 2020 class schedule!</a>
    <a href="https://www.google.com">Visit my favorite website!</a>
    </body>
</html>

